#root {
  width: 100%;
  height: fit-content;
  max-width: 1440px;
  margin: 0 auto;
  /*padding: 0 0 8rem 0;*/
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
}

.bannersSection {
  display: flex;
  margin-bottom: 4rem;
  max-height: 660px;
  overflow: hidden;
  display: flex;
}

.bannersSection img.banner {
  width: 100%;
  max-width: 1440px;
  object-fit: cover;
  box-shadow: 0 8px 16px #00000088, 0 32px 64px #00000066;
  border: 1px solid rgba(48, 48, 48, 0.6);
  transition: all 0.75s ease-in-out 0s;
}
