main.moviePage {
  display: flex;
  flex-direction: column;
}

.moviePage .moviePContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  background: linear-gradient(90deg, #000000cc 0%, #00000000 75%),
    url("/theboys.jpg") no-repeat center center;
  aspect-ratio: 1440/756;
  background-size: cover;
  border-radius: 12px;
  border: 2px solid #ffffff20;
  padding: 4rem;
}

.moviePage .movieInfosGroup {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: auto;
}

/*.moviePage .mainMoviePic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  border-radius: 12px;
}*/

.moviePage h2 {
  font-size: 64px;
  font-family: "Oswald", sans-serif;
}

.moviePage .plot {
  font-family: "Lexend", sans-serif;
}

.moviePage .tagsList {
  display: flex;
  column-gap: 12px;
  margin-top: 1rem;
}

.moviePage .tagsList li {
  padding: 2px 16px;
  border-radius: 32px;
  font-weight: 600;
  background-color: #000000bb;
  border: 1px solid #4f4f4f;
}

.moviePage .tagsList li:first-child {
  border: 1px solid #1a98ff;
}

.moviePage .bigPlayContainer {
  position: absolute;
  right: 0;
  bottom: 20%;
  height: 192px;
  width: 214px;
  /*background: rgba(255, 255, 255, 0.25);*/
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.15)
  );
  outline: 2px solid rgba(255, 255, 255, 0.35);
  z-index: 3;
  border-radius: 300px 0 0 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: all 0.3s linear;
  backdrop-filter: blur(4px);
}

.moviePage .bigPlayContainer .bigPlayButton {
  border-radius: 600px;
  box-shadow: 0 8px 16px #00000033;
}
