.castSection {
  display: flex;
  flex-direction: column;
  margin-top: 3.75rem;
  row-gap: 2rem;
}

.castSection h2 {
  color: #ffffffdd;
  font-family: "Lexend", sans-serif;
  font-size: 24px;
}

.castContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 2rem;
}

.creatorArticle {
  display: flex;
  flex-direction: column;
}

.creatorArticle h4 {
  font-size: 20px;
  font-family: "Lexend", sans-serif;
  margin-bottom: 0.75rem;
}

.creatorBioSummaryContainer {
  display: flex;
  column-gap: 2rem;
}

.creatorBio {
  display: flex;
  background: radial-gradient(
      143.25% 127.27% at 81.62% 0%,
      rgba(255, 255, 255, 0.06) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.06) 0%,
      rgba(255, 255, 255, 0.04) 100%
    );
  backdrop-filter: blur(8px);
  outline: 1px solid #ffffff25;
  border-radius: 12px;
  padding: 1rem 2rem 1.5rem 2rem;
  column-gap: 6rem;
  flex: 1 1 70%;
}

.creatorSummary {
  display: flex;
  flex-direction: column;
  background: radial-gradient(
      143.25% 127.27% at 81.62% 0%,
      rgba(255, 255, 255, 0.06) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.06) 0%,
      rgba(255, 255, 255, 0.04) 100%
    );
  backdrop-filter: blur(8px);
  outline: 1px solid #ffffff25;
  border-radius: 12px;
  padding: 1.3rem 2rem 1.5rem 2rem;
  flex: 1 1 30%;
  row-gap: 0.3rem;
}

.creatorSummary span {
  color: #84afdacc;
  font-weight: 300;
  margin-left: 1rem;
}

.creatorSummary h4 {
  line-height: 100%;
}

.creatorBio .creatorPortrait {
  aspect-ratio: 1;
  border-radius: 100%;
  max-height: 164px;
  /*height: 100%;*/
  align-self: center;
  outline: 1px solid #ffffff25;
  overflow-clip-margin: unset;
  filter: saturate(0.85);
}

.creatorArticle .notableWorksContainer {
  display: flex;
  flex-direction: column;
  background: radial-gradient(
      143.25% 127.27% at 81.62% 0%,
      rgba(255, 255, 255, 0.06) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.06) 0%,
      rgba(255, 255, 255, 0.04) 100%
    );
  backdrop-filter: blur(8px);
  outline: 1px solid #ffffff25;
  border-radius: 12px;
  padding: 1.3rem 2rem 1.5rem 2rem;
  flex: 1 1 30%;
  row-gap: 0.3rem;
  margin-top: 1.5rem;
  flex-wrap: nowrap;
  overflow: hidden;
}

.creatorArticle .notableWorksContainer h4 {
  line-height: 100%;
  margin-bottom: 1.25rem;
}

.creatorArticle .notableWorks {
  display: flex;
  column-gap: 1rem;
}

.creatorArticle .notableWorkPic {
  width: 280px;
  height: 160px;
  flex-shrink: 0;
  object-fit: cover;
  transition: all 0.2s linear;
  overflow-clip-margin: unset;
  border-radius: 12px;
  padding: 0;
  border: 1px solid #ffffff15;
  overflow: hidden;
  background: linear-gradient(0deg, #000, #242c35);
  font-family: "Lexend", sans-serif;
  background-repeat: no-repeat;
  background-clip: padding-box;
}

.castArticle {
  display: flex;
  flex: 1 1 30%;
  background: radial-gradient(
      143.25% 127.27% at 81.62% 0%,
      rgba(255, 255, 255, 0.06) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.06) 0%,
      rgba(255, 255, 255, 0.04) 100%
    );
  backdrop-filter: blur(8px);
  outline: 1px solid #ffffff25;
  border-radius: 12px;
  padding: 1rem 2rem;
  column-gap: 2rem;
  min-width: 366px;
  font-family: "Lexend", sans-serif;
  /*box-shadow: 0 8px 16px #000;*/
}

.castArticle picture {
  width: 92px;
  height: 92px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 92px;
  outline: 1px solid #ffffff25;
}

.castArticle picture img {
  width: 92px;
  overflow-clip-margin: unset;
  filter: saturate(0.85);
}

.castMemberInfos {
  display: flex;
  flex-direction: column;
  row-gap: 0.35rem;
  align-self: center;
}

.castArticle h4 {
  font-size: 20px;
  line-height: 100%;
  color: #ffffffcc;
  font-weight: 600;
}

.castArticle .characterName {
  font-weight: 500;
  font-size: 16px;
  color: #ffffffcc;
}

.castArticle .characterName span {
  color: #84afdacc;
  font-weight: 300;
}

.castArticle .appearances {
  font-weight: 300;
  font-size: 14px;
  margin-top: 0.1rem;
  color: #84afdacc;
}
