header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 5rem;
  align-items: center;
}

header ul {
  display: flex;
  column-gap: 3rem;
  flex-direction: row;
}

li {
  color: #84afda;
  font-weight: 400;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}
