.horizontalMovieCard {
  width: 320px;
  height: 200px;
  /*position: relative;*/
  flex-shrink: 0;
  transition: all 0.2s linear;
  border-radius: 12px;
  padding: 0;
  display: flex;
  flex-direction: column;
  border: 1px solid #ffffff20;
  overflow: hidden;
  background: linear-gradient(0deg, #000, #242c35);
  font-family: "Lexend", sans-serif;
}

.horizontalMovieCard .mainPicContainer {
  width: 100%;
  height: 200px;
  flex-grow: 0;
  flex-shrink: 0;
  /*border-radius: 12px 12px 0 0;*/
  /*overflow: hidden;*/
  position: relative;
}

.horizontalMovieCard .moviePositionContainer {
  position: absolute;
  bottom: 0.75rem;
  left: 5%;
  width: 90%;
  background-color: #ffffff44;
  border-radius: 100px;
  height: 6px;
  display: flex;
}

.horizontalMovieCard .moviePositionContainer .moviePositionBar {
  width: 60%;
  background-color: #1a98ff;
  border-radius: 100px;
  height: 6px;
}

.horizontalMovieCard .mainPic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  /*border-radius: 12px 12px 0 0;*/
  position: absolute;
  top: 0;
  left: 0;
}

.horizontalMovieCard:hover {
  height: 518px;
  z-index: 4;
  /*transform: scale(1.1) translateY(23px);
  transform-origin: center;*/
}

.movieInfosContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  row-gap: 0.5rem;
  transition: all 0.15s linear 0.2s;
  transform: translateX(-400px);
}

.horizontalMovieCard:hover .movieInfosContainer {
  transform: translateX(0);
}

.horizontalMovieCard h3 {
  font-family: "Oswald", sans-serif;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffffcc;
}

.horizontalMovieCard .plot {
  font-weight: 300;
  color: #ffffffcc;
  font-size: 14px;
  font-family: "Lexend", sans-serif;
}
