.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffffdd;
  font-family: "Lexend", sans-serif;
  font-size: 20px;
}

.loading img {
  filter: blur(1px);
  opacity: 0.9;
}
