.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 3rem 0;
}

.galleryContainer article {
  display: flex;
  flex: 1 1 20%;
  max-width: calc((100% - 6rem) / 4);
  height: 16rem;
  /*border-radius: 12px;*/
  overflow: hidden;
  border: 1px solid #ffffff20;
  cursor: pointer;
  border-radius: 0px;
  position: relative;
}

.galleryContainer article img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  overflow-clip-margin: unset;
  transition: transform 0.5s ease-out 0s;
}

.galleryContainer article:hover {
  border: 2px solid #1a98ffcc;
}

.galleryContainer article:hover img {
  transform: scale(1.1);
}

/*.galleryNavButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 4rem;
  border: 2px solid #ffffffff;
  flex-shrink: 0;
  align-self: center;
  cursor: pointer;
  background-color: #1a98ff;
  font-size: 14px;
  color: #ffffffff;
  font-weight: 500;
  font-family: "Lexend", sans-serif;
  border-radius: 6px;
}*/

.galleryContainer article div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  transform: translateY(2.5rem);
  transition: transform 0.2s ease-in 0s;
  background: linear-gradient(
    0deg,
    rgba(27, 46, 63, 0.6),
    rgba(27, 46, 63, 0.6)
  );
  border-top: 1px solid #ffffff22;
  font-size: 14px;
  color: #ffffffcc;
  font-weight: 500;
  font-family: "Lexend", sans-serif;
}

.galleryContainer article:hover div {
  transform: translateY(0);
}

dialog {
  z-index: 5;
  display: flex;
  background: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 0 2rem;
  margin: 0 auto;
  overflow: hidden;
  border: none;
  outline: none;
  /*max-width: 1440px;*/
}

dialog::backdrop {
  background-color: #00050dcc;
  z-index: 4;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  border: none;
  outline: none;
}

dialog .fullsizePicture {
  object-fit: cover;
  object-position: top;
  max-width: 100%;
  max-height: 100%;
  align-self: center;
  /*border: 1px solid #ffffff33;*/
  border-left: 1px solid #00000066;
  border-right: 1px solid #00000066;
  display: flex;
  flex-shrink: 1;
}

dialog .galleryBody {
  position: relative;
  display: flex;
  justify-content: center;
  flex-shrink: 1;
  max-height: calc(100vh - 14rem);
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  background-color: rgb(12, 16, 20);
}

.galleryNavButton {
  position: absolute;
  width: 132px;
  height: 132px;
  top: 50%;
  transform: translateY(-50%);
  border-top: 3px solid rgba(255, 255, 255, 0.21);
  border-bottom: 3px solid rgba(255, 255, 255, 0.21);
  backdrop-filter: blur(4px);
}

.galleryNavButton.right {
  border-radius: 100% 0 0 100%;
  background: radial-gradient(
      62.52% 56.6% at 100% 22%,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.08) 100%
    );
  right: 0;
  border-left: 3px solid rgba(255, 255, 255, 0.21);
}

.galleryNavButton.left {
  border-radius: 0 100% 100% 0;
  background: radial-gradient(
      62.52% 56.6% at 100% 22%,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.08) 100%
    );
  left: 0;
  border-right: 3px solid rgba(255, 255, 255, 0.21);
}

dialog .galleryHeader {
  display: flex;
  height: 6rem;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background: linear-gradient(180deg, #1f2f41 0%, #0d1824 100%);
  border-bottom: 1px solid #1b2836;
  flex-shrink: 0;
  color: #ffffffcc;
  font-size: 16px;
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  padding: 1rem 2rem;
}

dialog .galleryFooter {
  display: flex;
  height: 8rem;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  /*background-color: #333435;*/
  /*background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(27, 46, 63, 0.6));*/
  background: linear-gradient(180deg, #273443 0%, #0d1824 100%);
  border-top: 1px solid #3f5268;
  flex-shrink: 0;
  flex-direction: column;
  padding: 1rem 2rem;
  color: #ffffffcc;
  font-size: 16px;
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  row-gap: 0.5rem;
}

dialog:modal {
  max-width: 100vw;
  max-height: 100vh;
}

.galleryFooter span {
  color: #84afdacc;
  font-weight: 500;
}
