section {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.moviesArrowsContainer {
  position: relative;
}

.arrowsContainer {
  z-index: 3;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}

.leftArrowContainer,
.rightArrowContainer {
  display: flex;
  align-items: center;
  height: 80%;
  /*width: 3.5rem;*/
  background-color: #00000077;
  justify-content: center;
  display: none;
  cursor: pointer;
  pointer-events: all;
}

.leftArrowContainer {
  border-radius: 0 12px 12px 0;
  padding: 0 1rem 0 0.75rem;
}

.rightArrowContainer {
  border-radius: 12px 0 0 12px;
  padding: 0 0.75rem 0 1rem;
}

.rightArrow {
  z-index: 4;
  width: 1.5rem;
}

.leftArrow {
  z-index: 4;
  transform: rotate(180deg);
  width: 1.5rem;
}

.moviesContainer {
  display: flex;
  column-gap: 2rem;
  /*overflow: hidden;*/
  overflow-x: scroll;
  scrollbar-width: 0;
  position: relative;
}

.moviesContainer::-webkit-scrollbar {
  display: none;
}

.moviesArrowsContainer:hover .leftArrowContainer,
.moviesArrowsContainer:hover .rightArrowContainer {
  display: flex;
}
