section {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.moviesArrowsContainer {
  position: relative;
}

.arrowsContainer {
  z-index: 3;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  padding: 1rem;
}

.arrowsContainer .rightArrow {
  z-index: 4;
  cursor: pointer;
  pointer-events: all;
  width: 2rem;
  /*display: none;*/
}

.arrowsContainer .leftArrow {
  z-index: 4;
  transform: rotate(180deg);
  cursor: pointer;
  pointer-events: all;
  width: 2rem;
  /*display: none;*/
}

.moviesContainer {
  display: flex;
  column-gap: 2rem;
  /*overflow: hidden;*/
  overflow-x: scroll;
  scrollbar-width: 0;
  position: relative;
}

.moviesContainer::-webkit-scrollbar {
  display: none;
}
