.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 3rem 0;
}

.galleryContainer article {
  display: flex;
  flex: 1 1 20%;
  max-width: calc((100% - 6rem) / 4);
  height: 16rem;
  /*border-radius: 12px;*/
  overflow: hidden;
  border: 1px solid #ffffff20;
  cursor: pointer;
  border-radius: 0px;
  position: relative;
}

.galleryContainer article img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  overflow-clip-margin: unset;
  transition: transform 0.5s ease-out 0s;
}

.galleryContainer article:hover {
  border: 2px solid #1a98ffcc;
}

.galleryContainer article:hover img {
  transform: scale(1.1);
}

.galleryNavButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 3rem;
  background-color: #ffffffcc;
  flex-shrink: 0;
  align-self: center;
  cursor: pointer;
}

.galleryContainer article div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.5rem;
  background: rgba(27, 46, 63, 0.6);
  border-top: 1px solid #ffffff33;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  transform: translateY(2.5rem);
  transition: transform 0.2s ease-in 0s;
  font-size: 14px;
}

.galleryContainer article:hover div {
  transform: translateY(0);
}

dialog {
  z-index: 5;
  display: flex;
  background: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 0 2rem;
  margin: 0 auto;
  overflow: hidden;
  /*max-width: 1440px;*/
}

dialog::backdrop {
  background-color: #000000dd;
  z-index: 4;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  border: none;
  outline: none;
}

dialog .fullsizePicture {
  object-fit: cover;
  object-position: top;
  max-width: 70%;
  max-height: 100%;
  align-self: center;
  border: 1px solid #ffffff33;
  display: flex;
  flex-shrink: 1;
}

dialog .galleryBody {
  display: flex;
  justify-content: space-between;
  flex-shrink: 1;
  max-height: calc(100vh - 12rem);
}

dialog .galleryHeader {
  display: flex;
  height: 4rem;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #333435;
  flex-shrink: 0;
}

dialog .galleryFooter {
  display: flex;
  height: 8rem;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #333435;
  flex-shrink: 0;
}

dialog:modal {
  max-width: 100vw;
  max-height: 100vh;
}
