@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
/*@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");*/
@import url("https://fonts.googleapis.com/css2?family=Avenir:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600;700;800;900&display=swap");

*, /*init added*/
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /*font-family: Montserrat;*/
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /*background-color: rgb(0, 5, 13);*/
  background: radial-gradient(
      68.71% 51.43% at 77.63% 2.85%,
      rgba(114, 191, 255, 0.25) 0%,
      rgba(95, 182, 255, 0) 100%
    ),
    radial-gradient(
      75.78% 66.28% at 21.51% 4.67%,
      rgba(48, 48, 48, 0.6) 0%,
      rgba(48, 48, 48, 0) 100%
    ),
    #00050d;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
